<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="body" th:with="goods=${goodsMap.goodsVO}, images=${goodsMap.imageList}">
  <h3 th:text="${goods.goods_title}">상품 제목</h3>
  <p th:text="${goods.goods_writer} + ' | ' + ${goods.goods_publisher}">저자 | 출판사</p>

  <div id="goods_image">
    <figure>
      <img th:src="@{|/thumbnails.do?goods_id=${goods.goods_id}&fileName=${goods.goods_fileName}|}"
           alt="상품 이미지" width="180">
    </figure>
  </div>

  <div id="detail_table">
    <table>
      <tbody>
      <tr>
        <td class="fixed">정가</td>
        <td class="active" th:text="${#numbers.formatInteger(goods.goods_price,0,'COMMA') + '원'}">0원</td>
      </tr>
      <tr>
        <td class="fixed">판매가</td>
        <td class="active" th:text="${#numbers.formatInteger(goods.goods_price * 0.9,0,'COMMA') + '원 (10%할인)'}">0원</td>
      </tr>
      <tr>
        <td class="fixed">포인트적립</td>
        <td class="active" th:text="${goods.goods_point + 'P'}">0P</td>
      </tr>
      <tr>
        <td class="fixed">발행일</td>
        <td class="fixed" th:text="${goods.goods_published_date}">날짜</td>
      </tr>
      <tr>
        <td class="fixed">페이지 수</td>
        <td class="fixed" th:text="${goods.goods_total_page + '쪽'}">0쪽</td>
      </tr>
      <tr>
        <td class="fixed">ISBN</td>
        <td class="fixed" th:text="${goods.goods_isbn}">isbn</td>
      </tr>
      <tr>
        <td class="fixed">배송료</td>
        <td class="fixed">무료</td>
      </tr>
      <tr>
        <td class="fixed">수량</td>
        <td class="fixed">
          <select id="order_goods_qty" style="width:60px;">
            <option th:each="n : ${#numbers.sequence(1,5)}" th:value="${n}" th:text="${n}">1</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
    <ul>
      <li><a class="buy" href="#" th:onclick="'submitOrder('+${goods.goods_id}+');return false;'">구매하기</a></li>
      <li><a class="cart" href="#" th:onclick="'addCart('+${goods.goods_id}+');return false;'">장바구니</a></li>
    </ul>
  </div>

  <div class="clear"></div>
  <div id="container">
    <ul class="tabs">
      <li><a href="#tab1">책소개</a></li>
      <li><a href="#tab2">저자소개</a></li>
      <li><a href="#tab3">책목차</a></li>
      <li><a href="#tab4">출판사서평</a></li>
      <li><a href="#tab5">추천사</a></li>
      <li><a href="#tab6">이미지</a></li>
    </ul>
    <div class="tab_container">
      <div class="tab_content" id="tab1" th:text="${goods.goods_intro}">소개</div>
      <div class="tab_content" id="tab2" th:text="${goods.goods_writer_intro}">저자 소개</div>
      <div class="tab_content" id="tab3" th:text="${goods.goods_contents_order}">목차</div>
      <div class="tab_content" id="tab4" th:text="${goods.goods_publisher_comment}">서평</div>
      <div class="tab_content" id="tab5" th:text="${goods.goods_recommendation}">추천사</div>
      <div class="tab_content" id="tab6">
        <div th:each="img : ${images}">
          <img th:src="@{|/download.do?goods_id=${goods.goods_id}&fileName=${img.fileName}|}" style="max-width:240px;">
        </div>
      </div>
    </div>
  </div>

  <form id="orderForm" method="post" th:action="@{/order/orderEachGoods.do}">
    <input type="hidden" name="goods_id" th:value="${goods.goods_id}">
    <input type="hidden" name="goods_title" th:value="${goods.goods_title}">
    <input type="hidden" name="goods_sales_price" th:value="${goods.goods_sales_price}">
    <input type="hidden" name="goods_fileName" th:value="${goods.goods_fileName}">
    <input type="hidden" id="order_goods_qty_input" name="order_goods_qty" value="1">
  </form>
</div>

<script>
  function addCart(goodsId) {
    fetch('/cart/addGoodsInCart.do', {
      method: 'POST',
      headers: {'Content-Type':'application/x-www-form-urlencoded'},
      body: 'goods_id=' + encodeURIComponent(goodsId)
    }).then(r => r.text()).then(res => {
      if (res.trim() === 'add_success') {
        alert('장바구니에 담았습니다.');
      } else if (res.trim() === 'already_existed') {
        alert('이미 카트에 등록된 상품입니다.');
      } else {
        alert('장바구니 담기 실패');
      }
    }).catch(() => alert('장바구니 담기 오류'));
  }

  function submitOrder(goodsId) {
    const qty = document.getElementById('order_goods_qty').value;
    document.getElementById('order_goods_qty_input').value = qty;
    document.getElementById('orderForm').submit();
  }
</script>
</body>
</html>
